<div class="container">
<img class="logo" src="./assets/avanade.svg">
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
 
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>



  <repos-component></repos-component>
  <contact-component></contact-component>
</div>


<router-outlet></router-outlet> 


<!--
 <app-ava-ng-pessoal-list></app-ava-ng-pessoal-list> 
-->